.button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;

  &_add-task {
    background-color: rgb(89, 204, 89);
    color: honeydew;
    display: block;
    margin: 30px auto 30px;

    &:hover {
      background-color: rgb(114, 151, 114);
    }

    &:active {
      background-color: rgb(89, 204, 89);
    }
  }

  &_ok {
    background-color: #7bdb91;
    margin: 0 20px;

    &:hover {
      background-color: #bff5c4;
    }

    &:active {
      background-color: #7bdb91;
    }
  }

  &_cancel {
    background-color: #7bdb91;
    margin: 0 20px;

    &:hover {
      background-color: #bff5c4;
    }

    &:active {
      background-color: #7bdb91;
    }
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    position: relative;
    top: 50px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: animatetop;
    animation-duration: 0.5s;
  }

  &__header {
    position: relative;
    margin-bottom: 40px;

    &_close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      font-size: 28px;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
        color: #000;
        text-decoration: none;
      }
    }

    &_title {
      text-align: center;
      color: #4a4646;
    }
  }

  &__body {
    &_description {
      padding: 0 15px;
      width: 100%;
      margin-bottom: 30px;
      resize: none;
    }
  }

  &__info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__footer {
    text-align: center;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

.invalid {
  border: 2px solid red;
  // color: red;
}

.action__td {
  display: flex;
  justify-content: space-between;
}

td i.fas {
  font-size: 18px;
  cursor: pointer;
  margin: auto;
}

.error_text {
  position: absolute;
  display: none;
  color: red;
  top: 27px;
  left: 10px;
}
